.register_container {
  width: 600px;
  height: 680px;
}

.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 20px;
  }
}

.register_body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form_group {
    margin: 12px 0 16px 0;
    // margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .feild {
      display: flex;
      height: 46px;
      width: 280px;
      margin-bottom: 6px;

      input {
        height: 100%;
        width: 100%;
        font-size: 1.6rem;
        padding-left: 12px;
        border: 2px solid var(--primary);
        border-radius: 50px;
      }
    }

    .input_error {
      display: block;
      font-size: 1.4rem;
      height: 16px;
      color: var(--red-color);
      display: none;
    }
  }

  .signIn_btn {
    margin-top: 12px;
    width: 160px;
    border-radius: 50px;
    span {
      font-size: 1.8rem;
    }
  }
}

.login_navigate {
  margin-top: 25px;
  .question {
    font-size: 1.8rem;
  }
}

.login_link {
  .title {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--primary);
  }
}
