.inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 var(--default-content-layout-padding);
  max-width: var(--default-layout-width);
  width: 100%;
  margin: 25px 0;
  margin-bottom: 100px;
}
