.detail-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.detail-item__slider {
  flex: 1;
  height: 500px;
}

.item-imgBx {
  width: 100%;
  height: 100%;
}

.item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--chillYellow);
  border-radius: 20px;
  //   border: 2px solid var(--lightOrange-color);
}

.item-infor {
  width: 50%;
  margin-left: 50px;
}

.item-title {
  font-size: 2.2rem;
  color: var(--black);
  letter-spacing: 1px;
}

.item-price-status {
  margin-top: 14px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid var(--lightGray);
  padding-bottom: 10px;
  color: var(--primary);
}

.item-price {
  font-size: 2rem;
  font-weight: bold;
}

.item-status {
  font-size: 1.5rem;
}

.item-description {
  margin: 15px 0px;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--gray);
}

.item__variation {
  display: flex;
  align-items: center;
}

.item-input {
  height: 46px;
  width: 146px;
}

.add-to-cart-btn {
  margin-left: 12px;
  width: 100%;
  max-width: 176px;
  height: 46px;
  background-color: var(--lightOrange-color);
  border-radius: 45px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  font-size: 2.1rem;

  &:hover {
    background-color: var(--darkCyan);
    transition: all 0.2s;
  }
}

.item__meta {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.sku__wrapper {
  font-size: 1.5rem;
  color: var(--grey-color);
}

.item__meta-tags,
.item__meta-Category,
.sku__wrapper {
  margin: 4px 0;
  font-size: 1.75rem;
  font-weight: bold;
}

.sku__value,
.meta-Category_value,
.meta-tags_value {
  color: var(--gray);
  font-weight: normal;
}
