.order-products {
  margin-bottom: 20px;
}

.product-item,
.product-name {
  display: flex;
  align-items: center;
}

.product-item {
  margin-bottom: 15px;
  justify-content: space-between;
}

.product-thumb {
  width: 56px;
  height: 58px;
  flex-shrink: 0;

  .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  width: 210px;
  margin-left: 10px;

  .product-quantity {
    color: var(--darkGray);
    font-size: 1.7rem;
  }

  .product-titile {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
  }
}

.product-price {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--darkGray);
  padding-left: 30px;
}

.subtotal,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  width: 100%;
  height: 60px;
  background-color: rgba(244, 244, 244);
  padding: 25px;

  span {
    font-size: 1.7rem;
    font-weight: bold;
  }
}

.subtotal {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid var(--white);
}

.total {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .total_amount {
    color: var(--primary);
    font-size: 1.8rem;
  }
}
