.product {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.product_item {
  display: flex;
  align-items: center;
  width: 40%;
}

.product_imgBox {
  width: 150px;
  height: 128px;
  flex-shrink: 0;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .cartPage__product-item,
// .cartPage__product-title {
//   width: 40%;
// }

// .cartPage__product-title {
//   padding-left: 35px;
//   /* text-align: center; */
// }

.product_infor {
  margin-left: 15px;
}

.product_name {
  margin-top: 0px;
  font-size: 1.7rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.delete_icon {
  margin-top: 10px;
  width: 22px;
}

.total_amount {
  color: var(--primary-color);
}

.product_price {
  width: 16%;
  text-align: center;
  //   font-size: 1.8rem;
  .price_amount {
    font-size: 1.8rem;
  }
}

// .cartPage__product-price,
// .cartPage__product-item-price {
//   width: 16%;
//   font-size: 1.6rem;
//   text-align: center;
// }

// .cartPage__product-item-price {
//   font-size: 1.8rem;
// }

.quantity_input {
  width: 25%;
  text-align: center;
  //   margin: 0 auto;
}

// #cartPage .modal__cart-item-input {
//   margin: 0 auto;
// }

.product_total {
  font-size: 1.6rem;
  width: 16%;
  text-align: right;
  .total_amount {
    font-size: 1.7rem;
  }
}

// .cartPage__product-total-cost {
//   font-size: 1.7rem;
// }
