.footer-infor {
  background-color: var(--black);
  background-image: url('/assets/images/shape_dot.png');
  background-color: black;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
}
