.cartPage-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cartPage-empty-btn {
    padding: 11px 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    color: var(--white);
    transition: all 0.2s linear;

    &:hover {
      letter-spacing: 1.5px;
    }
  }
}

.cartPage-empty-icon {
  font-size: 6rem;
  color: var(--primary);
  margin-bottom: 15px;
}

.cartPage-empty-title {
  color: var(--primary);
  margin-bottom: 15px;
}

.cartPage-empty-description {
  color: var(--gray);
  margin-bottom: 25px;
}
