.order-box {
  width: 100%;
  margin-bottom: 35px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.order-id-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  padding: 18px 0;
  border-bottom: 2px solid var(--lightGray);
}

.order-id {
  display: flex;
  align-items: center;
  h3 {
    font-size: 2.1rem;
  }

  span {
    margin-left: 10px;
    font-size: 1.9rem;
  }
}

.order-status {
  color: var(--primary);
  font-size: 2.2rem;
}

.order-product-list {
  padding: 18px 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 2px dashed var(--gray);
}

.order-product,
.product-item {
  display: flex;
  align-items: center;
}

.order-product {
  width: 100%;
  margin-bottom: 15px;
  justify-content: space-between;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5px;
}

.product-imgBox {
  // width: 136px;
  // height: 146px;
  // border: 2px solid var(--lightGray);
  // padding: 5px;
  width: auto;
  height: auto;
  max-width: 146px;
  max-height: 146px;
  flex: 1;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-name {
  font-size: 1.8rem;
  font-weight: bold;
}

.product-quantity {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--darkGray);
  margin: 6px 0;
}

.product-price {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--primary);
}

.product-total {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary);
}

.order-footer {
  height: 120px;
  background-color: var(--lightOrange-color);
  // border-top: 2px dashed var(--darkGray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.order-totalBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order-status-change {
  margin-top: 8px;
}

.status-change-btn:first-child {
  margin-right: 12px;
  // 2ad604
  background-color: #54d700;
}

.status-change-btn:last-child {
  // 2ad604
  background-color: var(--star-gold);
}

.status-change-btn {
  color: var(--white);
  border-radius: 6px;
}

.order-footer-date,
.order-footer-total {
  color: var(--white);
  font-weight: bold;
}

.order-footer-date {
  font-size: 1.7rem;
}

.order-footer-total {
  font-size: 2.8rem;
}
