.container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  //   overflow: hidden;
}

.displayFrame {
  width: 100%;
  height: 340px;
  max-height: 900px;
  margin: auto;
  text-align: center;
  //   background-color: var(--lightGray);
  white-space: nowrap;
  z-index: 1;
  caret-color: transparent;
  overflow: hidden;
}

.displayFrame::-webkit-scrollbar {
  display: none;
}

.left-arrow {
  position: absolute;
  left: -3%;
  cursor: pointer;
  z-index: 2;
  &:hover {
    color: var(--primary);
  }

  .left-arrow-icon {
    font-size: 3.2rem;
  }
}

.right-arrow {
  position: absolute;
  right: -3%;
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: var(--primary);
  }

  .right-arrow-icon {
    font-size: 3.2rem;
  }
}

.displayFrame {
  display: flex;
  //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  //   grid-gap: 20px;
  height: 100%;
  width: 100%;
}

// .carouselItem {
//   touch-action: none;
//   height: 100%;
//   width: 100%;
//   display: inline-block;
//   vertical-align: top;
// }

// .carouselItem img {
//   height: 100%;
//   max-width: 100%;
//   background-color: none;
// }

.carouselProduct {
  width: 22.5%;
  margin: 0 15px;
  transition: all 500ms linear;
}

// .carouselProduct:first-child {
//   margin-left: 0;
// }
// .carouselProduct:last-child {
//   margin-right: 0;
// }
