.search,
.search-result {
  width: 460px;
}

.search-result {
  padding-top: 8px;
}

.search-title {
  margin-left: 24px;
  color: var(--gray);
  margin-bottom: 6px;
}

.search {
  position: relative;
  // width: 460px;
  height: 42px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  // background-color: var(--chillYellow);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);

  input {
    height: 100%;
    color: var(--gray);
    flex: 1;
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary);
  }

  // &:focus-within {
  //   // border-color: rgba(22, 24, 35, 0.12);
  //   border: 2.3px solid var(--grayBorder);
  // }
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
}

.clear {
  cursor: pointer;
  color: var(--primary);
}

.loading {
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  color: var(--white);
  background-color: var(--primary);
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  &:hover {
    background-color: var(--primaryHover);
  }

  &:active {
    background-color: var(--primaryActive);
  }

  cursor: pointer;
}

.search-icon {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.view-all-result-btn {
  cursor: pointer;
  width: 100%;
  // padding: 18px 0;
  height: 56px;
  font-size: 1.8rem;
  color: var(--primary);
  text-align: center;

  &:hover {
    text-decoration: underline;
  }
}
