.wrapper {
  --search-border-radius: 999px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 62px;

  position: fixed;
  z-index: 2;
  width: 100%;
  height: var(--default-layout-header-height);
  background-color: var(--white);
  box-shadow: 0 0 30px 0 var(--box-shadow-color);
  //   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  display: flex;
  align-items: center;
  padding: 0 var(--default-layout-horizontal-spacer);
  justify-content: space-between;
  height: 100%;
  width: var(--default-layout-width);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1154px;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  line-height: 60px;

  img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  span {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--red-color);
  }
}

.nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  line-height: 60px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  .nav_item {
    cursor: pointer;
    padding: 0 3px;
    a {
      font-size: 1.9rem;
      font-weight: bold;
      color: var(--black);
      padding: 15px 15px;
      text-decoration: none;
    }
    &:hover a {
      color: var(--lightOrange-color);
    }
  }
}

.search,
.search-result {
  width: 460px;
}

.search-result {
  padding-top: 8px;
}

.search-title {
  margin-left: 24px;
  color: var(--gray);
  margin-bottom: 6px;
}

.search {
  position: relative;
  // width: 460px;
  height: 46px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  background-color: var(--chillYellow);
  border-radius: var(--search-border-radius);
  border: 1.6px solid var(--grayBorder);

  input {
    height: 100%;
    color: var(--gray);
    flex: 1;
    font-size: 1.6rem;
    background-color: transparent;
    caret-color: var(--primary);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.12);
  }
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  color: var(--white);
  background-color: var(--primary);
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  &:hover {
    background-color: var(--primaryHover);
  }

  &:active {
    background-color: var(--primaryActive);
  }

  cursor: pointer;
}

.search-icon {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.nav_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_user,
.nav_cart {
  --height: 46px;
  width: 46px;
  // padding: 10px;
  height: var(--height);
  background-color: var(--white);
  text-align: center;
  border-radius: 50%;
  border: 2px solid var(--primary);
  color: var(--primary);
  &:hover {
    cursor: pointer;
    background-color: var(--lightOrange-color);
    color: var(--white);
  }
}

.nav_user {
  margin-right: 8px;
  .user_icon {
    font-size: 1.8rem;
  }
}

.nav_cart {
  margin-left: 8px;
  .cart_icon {
    font-size: 1.8rem;
  }
}

.user_icon,
.cart_product_numbers {
  line-height: var(--height);
}
