@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --primary: #f16b28;
  --primaryHover: #f05b11;
  --primaryActive: #ed4f00;
  --white: #fff;
  --black: #000;
  --text-color: #161823;
  --gray: #767676;
  --darkGray: rgb(80, 80, 80);
  --lightGray: #ddd;
  --grayBorder: #e5e5e5;
  --lightCyan: #77fef3;
  --cyan: cyan;
  --darkCyan: #25bdb0;
  --star-gold: #ffc222;
  --lightPink-color: rgb(252, 244, 244);
  --lightOrange-color: rgb(241, 107, 40);
  --lightRed-color: #f15f50;
  --red-color: #f63400;
  --chillRed-color: #f17171;
  --chillYellow: #fff4ec;
  --customBlue: #03a9f4;
  --facebookColor: #0675e7;
  --light: #999999;
  --box-shadow-color: rgba(0, 0, 0, 0.1);

  //Default layout
  --default-layout-header-height: 74px;
  --default-layout-width: 1529px;
  --default-layout-horizontal-spacer: 24px;
  --default-content-layout-padding: 154px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  overflow-y: auto;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

input[type='checkbox'] {
  // appearance: none;
  // -webkit-appearance: none;
}

a[href] {
  text-decoration: none;
  // color: var(--black);
}
